.ipynb_checkpoints/
.ipynb_checkpoints
__pycache__
.vscode
.DS_Store
venv/

experiments/
lightning_logs/
MISC/
configs/exps/
data/


HISTORY&COMMENTS.md
README_hw_mini.md
README.md
PYTORCH_INSTALLLLL.txt


*.ckpt
*.pt
*.onnx